<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		<link rel = "stylesheet" href = "{% static 'styles.css' %}">
		<title>Information Alert System</title>
	</head>
	<body>
		<header>
			<h1>
				Information Alert System
			</h1>
			<br><br><br><br>
			<a href = "signin">signin</a>
			<a href = "signup">signup</a>
		</header>
		<br>
		<h1>About Us</h1>
		<br>
		<p>
			Welcome to Information Alert System, your personalized web crawling and notification service designed to keep you informed on the topics that matter most to you.
		</p>
		<br><br>
		<h1>What We Do</h1>
		<br>
		<p>
			In today's fast-paced world, staying updated on specific topics can be a daunting task. That's where we come in. Our platform leverages advanced Natural Language Processing (NLP) technology to understand your unique interests and scour the web for the latest and most relevant information. Whether it's the latest in tech, health updates, market trends, or niche hobbies, we've got you covered.
		</p>
		<br><br>
		<h1>How It Works</h1>
		<br>
		<p>
			Specify Your Interests: Simply tell us what you want to stay informed about in plain language. No complex settings or jargon—just type it out as you would in a conversation.
		</p>
		<br>
		<p>
			Advanced Web Crawling: Our sophisticated web crawling algorithms continuously search the internet for content related to your specified topics. Using state-of-the-art NLP, we ensure that the information is accurate and relevant.
		</p>
		<br>
		<p>
			Regular Notifications: Stay up-to-date with regular email notifications. We filter out the noise and deliver only the information you care about straight to your inbox, so you never miss an update.
		</p>
		<br><br>
		<h1>Why Choose Us?</h1>
		<br>
		<p>
			User-Friendly: Our platform is designed to be intuitive and easy to use. Specify your topics in natural language and leave the rest to us.
		</p>
		<br>
		<p>
			Cutting-Edge Technology: Utilizing advanced NLP and web crawling technologies, we provide precise and timely updates tailored to your interests.
		</p>
		<br>
		<p>
			Privacy First: Your privacy is our priority. We ensure that your data is securely handled and never shared with third parties.
		<p>
		<br><br>
		<h1>Join Us Today</h1>
		<br>
		<p>
			Experience the convenience of personalized information delivered directly to you. Stay informed, stay ahead, and never miss an update on the topics you care about most. Join Information Alert System today and start receiving customized notifications.
		</p>
		<br>
	<footer>
		<p>&copy; 2024 Information Alert System. All rights reserved.</p>
	</footer>
	</body>
</html>